:root {
    --color-main: rgb(36, 36, 36);
    --color-highlight: rgb(53, 53, 53);
    --color-highlight2: rgb(80, 80, 80);
}

* {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

#filters {
    width: 90wvw;
    
    border-radius: 500px;
    background-color: var(--color-main);
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    z-index: 999;

    display: flex;
    column-gap: 32px;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding: 8px 32px;
}

h2 {
    font-size: 18px;
}

button {
    height: 32px;
    padding: 0 8px;
    border-radius: 8px;
    background-color: var(--color-highlight);
    color: white;
    border: 1px solid gray;
}

.hidden {
    display: none !important;
}

#provider-details,
#provider-list {
    background-color: var(--color-main);
    width: 25%;
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    padding: 32px 32px;
    border-radius: 24px 0 0 24px;
}

#provider-details h1 {
    font-size: 24px;
}

#data-provider-intro {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 16px;

}

#provider-details label {
    font-weight: 700;
}

.icon-list {
    padding: 16px 0;
}

.icon-list a {
    color: white;
}

.icon-list > div {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.icon-list > div span{
    margin-right: 8px;
}

#extra-details {
    overflow-y: auto;
    margin-top: 8px;
}

#extra-details > div {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 14px;
}

#extra-details > div > p {
    margin-top: 4px;
}

hr {
    border: none;
    border-top: 1px solid var(--color-highlight)
}




#provider-list {
    background: var(--color-main);
    width: 20%;
    position: absolute;
    left: 0;
    top: 10vh;
    bottom: 16px;
    transition: left .2s;
    border-radius: 0 24px 24px 0;
    overflow-x: hidden;
}

#provider-list-show {
    background: var(--color-main);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    border-radius: 0 50% 50% 0  ;
}

#provdier-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#provider-list.collapsed #provdier-list-header {
    display: none;
}

#provider-list.collapsed {
    left: -1000px;
}

#provider-list-scroll {
    overflow-y: auto;
}

.provider-list-item {
    padding: 8px 0;
    border-bottom: 1px solid var(--color-highlight);
}

.provider-list-item:hover {
    background-color: var(--color-highlight);
}

.provider-list-item label {
    font-size: 14px;
    font-weight: bold;
}

.provider-list-item p {
    font-size: 12px;
}