#introModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #757575be;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introModal #content {
  position: relative;
  width: 80%;
  background-color: var(--color-main);
  padding: 32px;
  border-radius: 32px;
  max-width: 600px;
  z-index: 99999;
  max-height: 80vh;
}

#introModal #content h1 {
  font-size: 32px;
  color: var(--color-pink);
}

#introModal .scrollable {
  overflow-y: auto;
  height: 70vh;
  max-height: 650px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

#button-closeModal {
  position: absolute;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

#button-closeModal span {
  font-size: 32px;
}

#button-closeModal2 {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 0 auto;
  height: 48px;
  border: none;
  border-radius: 48px;
  background: var(--gradient-pink);
  
  padding: 0 24px;
}

#button-closeModal2 > p {
  color: var(--color-main);
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introModal #options-container {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  column-gap: 32px;
  margin: 32px auto;
}

.options-right,
.options-left {
  display: flex;
  flex-direction: column;
}

.options-bottom {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

#option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#option span {
  font-size: 32px;
}

#option img {
  width: 32px;
}

#option p {
  margin-left: 8px;
  font-size: 16px;
}

#help-icon-message {
  font-style: italic;
  display: flex;
  align-items: center;
  padding-top: 16px;
}

#help-icon-message span {
  font-size: 26px;
  margin-right: 8px;
}

#join-message {
  margin-top: 32px;
}

#introModal .disclaimer {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

@media (max-width: 600px) {
  #introModal #options-container {
    grid-template-columns: auto;
  }

  #option span {
    font-size: 24px;
  }

  .options-right,
  .options-left {
    grid-column: span 2;
  }
}
