#panel-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  min-width: 300px;
  width: 20%;
  height: 100vh;
  max-width: 500px;
  box-sizing: border-box;

  background: var(--color-main);
}

#panel-right > #panel-header {
  margin: 0;
  padding: 0 16px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-highlight);
}

#panel-right > #panel-header > span {
    font-size: 32px;
}

/* Provider Details */
#panel-right-providerDetails {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 50px);
  padding: 16px;
  box-sizing: border-box;
}

#data-name {
  color: white;
}

#data-credentials {
  font-size: 16px;
  font-weight: 500;
}

/* Quick Info */

.quick-info-item {
    margin-bottom: 8px;
}

.quick-info-item > .quick-info-item-label {
    display: flex;
    align-items: center;
    color: var(--color-pink);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}

.quick-info-item > .quick-info-item-label > .material-symbols-outlined {
    font-size: 16px;
    margin-right: 4px;
}

.quick-info-item > .quick-info-item-value {
    font-size: 14px;
}

#qii-servicesSince > .quick-info-item-value {
    display: flex;
    flex-direction: column;
}

.labeled-icon {
    position: relative;
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 12px;
  margin-top: 8px;
}

.labeled-icon > span {
  margin-right: 8px;
  font-size: 18px;
}

.labeled-icon > .labeled-icon-desc {
    position: absolute;
    font-size: 10px;
    top: -8px;
    left: 28px;
    text-transform: uppercase;
    color: var(--color-pink);
}

#panel-right-trainerDetails-additional {
  overflow-y: auto;
}

#data-intro {
  color: white;
  font-size: 14px;
  line-height: 20px;
}

#container-procedures > label {
    color: white;
}

#panel-right.surgeon > #panel-header > span,
#panel-right.surgeon .quick-info-item-label,
#panel-right.surgeon .quick-info-item-label > span {
    color: var(--color-blue);
}