/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 90%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-highlight);
    border-radius: 6px;
    margin-top: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: var(--gradient-ltr);
    margin-right: 32px;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: var(--gradient-ltr-bright);

  }